@import "tailwindcss";



body {
  font-family: sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}

button {
  transition: all 0.3s ease;
}

button:disabled {
  cursor: not-allowed;
}